:root {
    --df-messenger-primary-color: #ed1c25;
    --df-messenger-font-color: #020202;
}

body {
    background-image: url("background.avif");
    background-size: 100vw 100vh;
    background-attachment: fixed;
    font-family: "Google Sans", sans-serif;
    color: #482B14;
    text-align: left;
}

  /* .main {
  position: absolute;
     top: 10%;
    left: 50%;
    transform: translate(-50%, -50%); 
}*/

.search-widget {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    /* z-index: 999;
    position: fixed;
    top: 40px;
    left: 16px;*/
}

input[type=text] {
    width: 100%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 40px;
    font-size: 16px;
    background-color: white;
    background-image: url('searchicon.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
  }

  /* .download-button {
    position: absolute;
    top: 56%;
    left: 50%;
    transform: translate(-50%, -50%); 
  } */

  .main .btn {
    /*position: absolute;
     top: 55%;
    left: 50%; */
    width: fit-content;
    /* transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%); */
    background-color: #f1f1f1;
    /**color: #ed1c25;;**/
    font-size: 14px;
    padding: 10px 10px;
    border: none;
    cursor: pointer;
    border-radius: 40px;
    text-align: center;
  }

  .main .btn:hover {
    background-color: #ed1c25;
    color: white;
  }

.grecaptcha-badge { visibility: hidden; }

df-messenger {
    z-index: 999;
    position: fixed;
    bottom: 16px;
    right: 16px;
}