<!DOCTYPE html>
<html>

<head>
  <title>Winter Plan</title>
  <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}" />
  <link rel="icon" type="image/x-icon" href="{{url_for('static', filename='favicon.ico')}}" />
  <link href="https://fonts.googleapis.com/css?family=Material+Icons+Outlined&amp;display=block" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Google+Sans:wght@400;500" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>

  <div class="main">
    <h1></h1>
    <p></p>
    </br></br>
    <!--  Search widget goes here:   -->

    <div class="search-widget">
      <!-- Widget JavaScript bundle -->
      <script src="https://cloud.google.com/ai/gen-app-builder/client?hl=en_US"></script>

      <!-- Search widget element is not visible by default -->
      <gen-search-widget configId="acfd98f7-ae30-4535-8ade-71a4566e5a2f" triggerId="searchWidgetTrigger">
      </gen-search-widget>

      <!-- Element that opens the widget on click. It does not have to be an input -->
      <!-- <input placeholder="Click here to search" id="searchWidgetTrigger" /> -->

      <input type="text" placeholder="Search.." id="searchWidgetTrigger">
      </br></br>
      <button class="btn" onclick="downloadFile()">Download the plan</button>
      <script>
        function downloadFile() {
          window.open("https://storage.cloud.google.com/jo-winterplan/Winter-Plan-2023-2024.pdf")
        }
      </script>
      </br>

      <!-- <a href="https://storage.cloud.google.com/jo-winterplan/Winter-Plan-2023-2024.pdf"
        Download="CN Winter Plan 2023-2024">
        <button class="btn"> Download the plan </button>
      </a> -->
      <!-- -->
      </br></br>
    </div>

    <!-- <div class="download-button">
      <button class="btn" onclick="downloadFile()">Download the plan</button>
      <script>
        function downloadFile() {
          window.open("https://storage.cloud.google.com/jo-winterplan/Winter-Plan-2023-2024.pdf")
        }
      </script>
    </div> -->

    <!--  Infobot widget goes here:   -->
    <script src="https://www.gstatic.com/dialogflow-console/fast/df-messenger/prod/v1/df-messenger.js"></script>
    <df-messenger project-id="jo-winter-plan-igsk" agent-id="44be5d85-2cc8-430c-b1c9-aceb6d2a79b3" storage-option="none"
      language-code="en">
      <df-messenger-chat-bubble chat-title="Winter Plan" anchor="top-left">
      </df-messenger-chat-bubble>
    </df-messenger>
    <!-- -->
  </div>
</body>

</html>